* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    background: rgb(111, 196, 209);
    height: auto;
    width: 100vw;
    padding: 10px 0 0 0;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer p{
    margin: 10px auto;
    line-height: 5px;
    font-size: 14px;
    color: white;
}

/* SOCIAL MEDIA */

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: dodgerblue;
}

/* SEARCH BAR CSS */
.search {
    margin: 0 auto;
    text-align:center;
}

.search h4 {
    margin: 50px 0px 20px 0px;
    font-size:30px;
}

.search input[type=text] {
    width: 100%;
    border-radius: 30px;
    outline:none;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: solid 1px lightblue;
}

  